<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <form method="post" action="/weather">
    <label for="zipCode">zip-code:</label>
    <input type="text" name="zipCode" id="zipCode" />
    
    <button type="submit">send zip-code</button>
  </form>
</body>
</html>